<footer id="mainFooter">
	<section class="wrapper-footer" id="footerData">
		<!--MENU FOOTER-->
		<nav id="footerNav">
			<li>
				<a href="feedback.php" title="Feedback">Feedback</a>
			</li>
			<li>
				<a href="contacto.php" title="Contáctanos">Contáctanos</a>
			</li>
			<li>
				<a href="vende-tus-productos.php" title="Vendé tus productos en Walá">Vendé tus productos en Walá</a>
			</li>
			<li>
				<a href="mapa-del-sitio.php" title="Mapa del sitio">Mapa del sitio</a>
			</li>
			<li>
				<a href="funcionalidades.php" title="Funcionalidades">Funcionalidades</a>
			</li>
		</nav>
		
		<!--MENU REDES SOCIALES-->
		<div id="socialNavFooter">
			<a href="#" title="Facebook WALÁ">
				<img src="imagenes/icono-facebook.png" alt="Icono Facebook" title="Facebook WALÁ">
			</a>
			<a href="#" title="Twitter WALÁ">
				<img src="imagenes/icono-twitter.png" alt="Icono Twitter" title="Twitter WALÁ">
			</a>
			<a href="#" title="Pinterest WALÁ">
				<img src="imagenes/icono-pinterest.png" alt="Icono Pinterest" title="Pinterest WALÁ">
			</a>
			<a href="contacto.php" title="Envianos un e-mail">
				<img src="imagenes/icono-email.png" alt="Icono E-mail" title="Envianos un e-mail">
			</a>
		</div>
		
		<!--LEGALES Y DIRECCION-->
		<p>
			© 2014 WALÁ | Todos los derechos reservados.
			<br>
			Diseño & Desarrollo: <a href="http://www.skidel.com/" target="_blank" title="SKIDEL Diseño Web">SKIDEL.COM</a>
		</p>
	</section>
</footer>

<!--JQUERY-->
<script src="js/jquery-1.11.1.min.js"></script>
<!--JAVASCRIPT PARA MENU DESPLEGABLE-->
<script src="js/menu.js"></script>